<a href="https://colab.research.google.com/github/rray891012/computation/blob/master/week6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
第一次期中考成績=int(input('請輸入第一次期中考成績?'))
第二次期中考成績=int(input('請輸入第二次期中考成績?'))
期末考=int(input('請輸入期末考成績?'))

sum=第一次期中考成績+第二次期中考成績+期末考
print('總分為',sum)


average=sum/3
print('平均為',average)

請輸入第一次期中考成績?85
請輸入第二次期中考成績?96
請輸入期末考成績?82
總分為 263
平均為 87.66666666666667

In [2]:
number=input('請輸入座號?')
print('組別為',8)

請輸入座號?32
組別為 8

In [3]:
數量=int(input('請輸入購買飲料的罐數?'))
一打=int(數量/12)
個數=(數量-一打*12)
一打價格=一打*200
個數價格=個數*20
總價=一打價格+個數價格
print("需花費",總價)

請輸入購買飲料的罐數?50
需花費 840

In [4]:
c=float(input("請輸入幾尺?"))
d=float(input("請輸入幾吋?"))
y=(c*12+d)*2.54
print('轉換為', y)+6

請輸入幾尺?6
請輸入幾吋?3
轉換為 190.5

In [0]:
pr